templates_c
!templates_c/.gitempty

_geocache
!_geocache/_cacheSettings.php
!_geocache/_cacheSettings.php.EXPIRE

user_images

config.php

# Don't allow generated CSS files in our template to be added
geo_templates/petsplease/external/css
.sass-cache

# Don't allow pet selector images into the repo
!addons/ppPetSelector/images/.gitempty
addons/ppPetSelector/images