@CHARSET "UTF-8";

.addon_table,
.addon_table tr {
	margin: 0px;
	padding: 3px;
	border-spacing: 0px;
	border: 3px solid #DDD;
	width: 98%;
}
.addon_table th,
.addon_table td {
	padding: 3px;
	margin: 0px;
	border-left: white thin solid;
	border-top: white thin solid;
}
.addon_div {
	text-align: left;
	padding-left: 10px;
	width: 100%;
}

.addon_hdr{
	background: #006699 url('../admin_images/design/addon_hdr.gif') repeat-x top left;
	padding: 5px;
	text-align: center;
	font-family: Arial,Helvetica, sans-serif;
	font-size:12pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFF;
	white-space: nowrap;
}