/* 7.4beta1-11-gc801b44 */

/*
CSS specifically for category stuff
*/

.cat-attached-icons {
	float: right;
	vertical-align: middle;
}

.cat-attached-icons img {
	cursor: help;
}

.cat-icon-disabled {
	opacity: 0.1;
}

.cat-name {
	font-size: 14px;
}