@CHARSET "UTF-8";

/* 6.0.7-3-gce41f93 */
body {
	color: #006699;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-align: center;
}

#outerBox {
	text-align: center;
	display: inline-block;
}

ul {
	list-style-image: url(../admin_images/design/arrowbullet_menu.gif);
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 2em;
	font-weight: bold;
	color: #FFF;
	position:relative;
	left: -12px;
}

ul li * {
	position: relative;
	top: -3px;
}

ul a {
	color: #FFFFFF;
}

.login_error {
	width: 480px;
	margin-bottom: 5px;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #CC0033;
	text-align: center;
}

a:hover {
	text-decoration: none;
}

a.login_link {
	color: #0B709F;
}

a.login_link:active {
	color: #0B709F;
}

a.login_link:visited {
	color: #0B709F;
}



#login_box {
	width: 480px;
	border: 1px solid #006699;
	padding: 2px;
	padding-left: 0px;
	
	background-repeat: repeat-x;
}
#login_sub {
	background-repeat: no-repeat;
	border: 1px solid transparent;
	z-index: 100;
	background-position: 2px 0px;
}
#login_left {
	/*width: 135px;
	border: 1px solid #0B709F;*/
	float: left;
	width: 135px;
	background-repeat: no-repeat;
}

#login_left_list {
	z-index: 10;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	padding-left: 8px;
	margin-top: 60px;
}

#login_right {
	background: #EFF5F9 url('../admin_images/login/login_screen_bg_rt.jpg') repeat-x top left;
	
	width: 340px;
	float: right;
}

#login_product_name {
	margin: 0px;
	font-size: 22px;
	text-align: center;
	color: #FFF;
	padding-top: 5px;
}

#login_software_type {
	margin: 0px;
	font-size: 14px;
	text-align: center;
	color: #FFF;
}

#login_form_fields {
	width: 250px;
	margin-top: 20px;
	text-align: left;
	margin-left: 45px;
}

#login_username_block {
	font-size: 14px;
}

#login_password_block {
	margin-top: 5px;
	font-size: 14px;
}

#login_right input {
	width: 250px;
}

#login_copyright {
	margin-top: 29px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	clear: both;
}

#license_tip {
	width: 260px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 40px;
	font-size: 12px;
	color: #000000;
	text-align: center;
}

#license_help {
	margin: 30px 5px 0 5px;
	font-weight: normal;
	font-size: 14px;
	color: #000;
	text-align: left;
}

#license_data {
	margin: 10px 5px 0 5px;
	border: 1px solid #000000;
	padding: 5px;
	text-align: left;
	font-size: 12px;
	color: #000000;
}

#license_agree {
	margin: 10px 5px 0 5px;
	border: 1px solid #000000;
	padding: 5px;
	text-align: left;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
}
#license_agree input {
	width: auto;
}

#login_bottom {
	clear: both;
}



/*login button*/

#submit_button {
	margin-top: 5px;
	text-align: center;
}

#submit_button input.theButton {
	color: #FFF;
	font-family: Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	width: 82px;
	height: 28px;
	padding: 0px;
	margin: 0px;
	background: url('../admin_images/login/btn_login.jpg') center left no-repeat; /*EDIT PER STYLESHEET*/
	/*background-repeat: no-repeat;
	background-position: center left;*/
	font-size: 16px;
	border: none;
}

#submit_button input.theButton:hover, #submit_button input.theButton:active {
	background-position: top left;
}
